@media screen and (max-width:640px) {
  .imagenPpal{
    height: auto;
    width: 100%;
  }
}
@media screen and (min-width:1200px) {
  .imagenPpal{
    height: 80vh;
    width: auto;
  }
}
/*Dots del carousel*/
.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 0!important;
    position: absolute;
    bottom: 10px;
    left:50%;
}
.owl-theme .owl-dots .owl-dot span {
    width: 16px;
    height: 16px;
    margin: 5px 7px;
    background: #a6a6a6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
    border: 3px solid #f1f1f1;
}
.owl-theme .owl-dots .owl-dot span:hover {
    background: #565656;
}
.owl-theme .owl-dots .owl-dot.active span{
    background: #565656!important;
}
.div_top{
  background-color: #000066;
  height: 4px;
}
.bg-euro{
  background-color: #ededed;
}
.bg-euro-dark{
  background-color: #8A8B8C;
}
.texto_carousel{
  background-color: #000066;
  opacity: .7;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  padding: 7px 15px;
  position: absolute;
  bottom: 30%;
  right: 50px;
}
/*Menu*/
.border_rigth{
  border-right: #000066 solid 0.5px;
}
.text_menu_1{
  font-weight: 600;
  font-size: 14px;
  color:#8a8b8c;
  line-height: 39px;
}
.enlace_menu{
  color:#8a8b8c;
  font-size: 15px;
}
.enlace_menu:hover{
  color:#000066;
  text-decoration: none;
  -webkit-transition: color 1.5s;
  transition: color 1.5s;
}
.enlace_menu.active{
  color:#000066;
}
.text_menu_2{
  font-weight: 700;
  font-size: 16px;
  color:#8a8b8c;
}
.text_menu_2:hover{
  color:#8a8b8c !important;
  text-decoration: underline !important;
}
.text_menu_2.active{
  color:#000066 !important;
}
.enlace_menu_lateral{
  color:#8a8b8c;
  font-size: 15px;
}
.enlace_menu_lateral:hover{
  color:#000066;
  text-decoration: none;
  -webkit-transition: color 1s;
  transition: color 1s;
}
.enlace_menu_lateral_active{
  color:#fff;
}
.enlace_menu_lateral_active:hover{
  color: #fff!important;
  text-decoration: none;
}
.div_menu_lateral_active{
  background-color: #000066;
}
/* 2Menu */
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  z-index: 3;
}
.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 700px;
  z-index: 3;
}
/* Links inside the dropdown */
.dropdown-content a {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content2 a {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown-content2 {
  display: block;
}
ul.col3{
  padding-right: 0px;
  padding-left: 0px;
  float: left;
  padding-bottom: 0px;
  margin: 15px 0px;
  width: 100%;
  padding-top: 0px;
  list-style-type: none;
}
ul.col3 li{
  padding-right: 2px;
  display: inline;
  padding-left: 2px;
  float: left;
  padding-bottom: 2px;
  width: 30%;
  padding-top: 2px
}
/* 2Menu */
.imagen_divisiones_home:hover{
  opacity: 0.5;
  transition: opacity 0.3s;
}
.search_productos_home{
    padding: 5px;
    font-size: 16px;
    height: 30px;
    min-width: 22vw;
    border: 1px solid #ccc;
}
.titulos{
  color:#000066;
  font-family: 'Roboto Condensed', sans-serif;
}
.contenedor_pagos{
  background-color: #255aa7;
  min-width: 20%;
  min-height: 70vh;
}
.text_pagos_home{
  font-size: 22px;
  font-family: 'Roboto Condensed', sans-serif;
}
/* Carousel Clients*/
.img_clients{
  min-height: 100px;
  max-height: 150px;
  min-width: 100px;
  max-width: 150px;
  text-align: center;
}
#carouselclients .owl-nav{
  position: absolute;
  top: 0;
  right: auto;
  height: 50px;
  width: inherit;
  text-align: left;
  display: flex;
  align-items: flex-start;
}
#carouselclients .owl-nav button{
  background-color: inherit;
}
#carouselclients .owl-nav button:hover{
  color:#adadad;
}
#carouselclients .owl-nav button span{
 font-size: 50px;
 font-weight: bold;
}
#carouselclients .owl-nav .owl-next{
  margin-left: auto;
}
/* Footer*/
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px!important;
}
/* Pagos */
.contenedor_pagos2{
  background-color:#eeeeee;
  border-radius: 10px;
  padding: 0;
}
/* Blog*/
.titulos_blog{
  color:#000066;
  font-family: 'Roboto Condensed', sans-serif;
}
.container-img-blog{
  position:relative;
  background-color:#ffffff;
  height:40vh;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
}
.container-img-blog:hover{
  cursor:pointer;
  opacity:0.8;
  transition: opacity 1s;
}
.imagen-blog{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}
.img-blog{
  max-height:40vh!important;
  width:100%;
  object-fit:contain;
  object-position:center center;
}
.d-flex{display:-ms-flexbox!important;display:flex!important}
.contenido_blog_vitrina{
	font-size: 14px;
	color:#7e7e7e;
	margin-top: 15px;
}
.autor_blog:hover{
	text-decoration: none !important;
	color:#442995;
	transition: color 1s;
}
.img_blog_article{
	margin-top: 15px;
	margin-bottom: 25px;
	min-width: 100%;
	max-width: 100%;
	height: auto;
}
.contenido_blog{
	font-size: 18px;
	line-height: 25px;
	color: #495559;
	text-align: justify;
	margin-bottom: 30px;
	margin-top: 20px;
}
.autor_blog_article{
	margin-top: 10px;
	margin-bottom: 30px;
}
/*Imagenes Industrias*/
.img_industrias{
  width: 210px;
  height: 210px;
  border-radius: 115px;
  border: 8px solid #aaa;
}
.contenedor_img_industrias{
  position: relative;
}
.div_text_industria{
  width: 210px;
  height: 210px;
  position:absolute;
  top: 0;
  border-radius: 115px;
  display: flex;
  justify-content:center;
  align-items: center;
}
.text_span{
  font-weight: bold;
  vertical-align:middle;
  line-height:normal;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  display: block;
  visibility: hidden;
}
.enlace_img_industrias:hover .div_text_industria{
  opacity: .8;
  background-color: #222;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.enlace_img_industrias:hover .text_span{
  visibility: visible;
}
