.imagenPpal{
  height: 80vh;
  width: auto;
}
/*Dots del carousel*/
.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 0!important;
    position: absolute;
    bottom: 10px;
    left:50%;
}
.owl-theme .owl-dots .owl-dot span {
    width: 16px;
    height: 16px;
    margin: 5px 7px;
    background: #a6a6a6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
    border: 3px solid #f1f1f1;
}
.owl-theme .owl-dots .owl-dot span:hover {
    background: #565656;
}
.owl-theme .owl-dots .owl-dot.active span{
    background: #565656!important;
}
.div_top{
  background-color: #000066;
  height: 4px;
}
.div_ppal{
  background-color: #f2f2f2;
}
.border_rigth{
  border-right: #000066 solid 0.5px;
}
.text_menu_1{
  font-weight: 600;
  font-size: 14px;
  color:#8a8b8c;
  line-height: 39px;
}
.enlace_menu{
  color:#8a8b8c;
  font-size: 15px;
}
.enlace_menu:hover{
  color:#000066;
  text-decoration: none;
  -webkit-transition: color 1.5s;
  transition: color 1.5s;
}
.text_menu_2{
  font-weight: 700;
  font-size: 16px;
  color:#8a8b8c;
}
.text_menu_2:hover{
  color:#8a8b8c !important;
  text-decoration: underline !important;
}
.text_menu_2.active{
  color:#000066 !important;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  z-index: 3;
}
/* Links inside the dropdown */
.dropdown-content a {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.imagen_divisiones_home:hover{
  opacity: 0.5;
  transition: opacity 0.3s;
}
.search_productos_home{
    padding: 5px;
    font-size: 16px;
    height: 30px;
    min-width: 22vw;
    border: 1px solid #ccc;
}
.titulos{
  color:#000066;
}
